# Spring Boot / Maven / Gradle
/target/
/build/
*.class

# Pacotes gerados
*.jar
*.war
*.ear

# Logs e temporários
*.log
logs/
*.tmp

# Banco de dados local
*.db
*.sqlite

# IDEs
## IntelliJ IDEA
/.idea/
/*.iml

## Eclipse
/.classpath
/.project
/.settings/
/bin/

## VS Code
.vscode/

# Arquivos temporários do sistema
.DS_Store
Thumbs.db

# Configurações de ambiente
*.env

# Arquivos de swap ou backup
*.swp
*.bak
