CREATE TABLE Endereco (
    id_end SERIAL PRIMARY KEY,
    complemento_end VARCHAR(20) NOT NULL,
    logradouro_end VARCHAR(20) NOT NULL,
    numero_end INT NOT NULL,
    ciadade_end VARCHAR(80) NOT NULL,
    bairro_end VARCHAR(40) NOT NULL,
    pont_ref_end VARCHAR(80)
);

CREATE TABLE Cliente (
    id_cli SERIAL PRIMARY KEY,
    nome_cli VARCHAR(80) NOT NULL,
    cpf_cli VARCHAR(11) NOT NULL UNIQUE,
    telefone_cli INT NOT NULL,
    email_cli VARCHAR(60) NOT NULL UNIQUE,
    id_end2 INT NOT NULL,
    FOREIGN KEY (id_end2) REFERENCES Endereco(id_end)
);

CREATE TABLE Funcionario (
    id_funci SERIAL PRIMARY KEY,
    nome_funci VARCHAR(80) NOT NULL,
    cargo_funci CHAR(1) NOT NULL CHECK (cargo_funci IN ('C', 'A', 'E')),
    telefone_funci VARCHAR(11)
);

CREATE TABLE Produto (
    id_prod SERIAL PRIMARY KEY,
    nome_prod VARCHAR(40) NOT NULL,
    descricao_prod VARCHAR(100) NOT NULL,
    preco_prod NUMERIC(4,2) NOT NULL,
    tipo CHAR(1) NOT NULL CHECK (tipo IN ('L', 'B', 'A'))
);

CREATE TABLE Pedido (
    id_ped SERIAL PRIMARY KEY,
    data_hora_ped TIMESTAMP DEFAULT CURRENT_TIMESTAMP NOT NULL,
    status CHAR(1) NOT NULL CHECK (status IN ('A', 'P', 'E')),
    id_cli2 INT NOT NULL,
    id_funci2 INT NOT NULL,
    FOREIGN KEY (id_cli2) REFERENCES Cliente(id_cli),
    FOREIGN KEY (id_funci2) REFERENCES Funcionario(id_funci)
);

CREATE TABLE itens (
    id_it SERIAL PRIMARY KEY,
    qtd_it INT NOT NULL,
    preco_unitario_it NUMERIC(4,2) NOT NULL,
    id_ped2 INT NOT NULL,
    id_prod2 INT NOT NULL,
    FOREIGN KEY (id_ped2) REFERENCES Pedido(id_ped),
    FOREIGN KEY (id_prod2) REFERENCES Produto(id_prod)
);

CREATE TABLE Pagamento (
    id_paga SERIAL PRIMARY KEY,
    valor_total_pag NUMERIC(4,2) NOT NULL,
    forma_pagameto_pag CHAR(1) NOT NULL CHECK (forma_pagameto_pag IN ('D', 'C', 'P')),
    data_pagamento TIMESTAMP DEFAULT CURRENT_TIMESTAMP NOT NULL,
    id_ped INT NOT NULL,
    FOREIGN KEY (id_ped) REFERENCES Pedido(id_ped)
);